<% content_for :title, @insight.name  %>

<h3>Supplier Orders</h3>

<script type="text/javascript">
  window.idCounter = 0;
  var uniqueId = function(namespace) {
    var id = ++idCounter + 'namespace';
    return id + namespace
  };

  window.fetchInBatches = function(page = 1, url, table) {
    $.getJSON(url, {page: page}, function(data){
      var currentPage = data[0].page
      var total_count = data[0].total_count
      var total_pages = parseInt(data[0].total_pages, 10)

      var records = data.map(function(i){
        record = JSON.parse(i.record)
        record._key  = uniqueId('orders');
        return record;
      })
      table.addData(records);
      if (currentPage < total_pages) {
        fetchInBatches(currentPage + 1, url, table);
      }
    });
  }
</script>


<div id='<%= dom_id(@insight) %>'></div>
<script>

  var t1 = Reactable.init({
    htmlId:   "orders",
    schema:   <%= raw @schema.to_json %>,
    limit:    15,
    control: false
  })

  t1.render();
  t1.updateTableWidth($('.container').width());

  fetchInBatches(1, '<%= reactable_insight_path(@orders) %>', t1);

  window.addEventListener('resize', function(){
    t1.updateTableWidth(window.width);
  });

</script>
