<% content_for :title, @insight.name  %>

<%= render "dataclips_config" %>

<script>
  $(document).ready(function(){
    Dataclips.proxy = new Backbone.Model({
      total_entries_count: 0,
      percent_loaded:      0,
      entries:             [],
      entries_count:       0,
      grid_entries:        [],
      grid_entries_count:  0
    });

    Dataclips.filterArgs = new Backbone.Model;

    Dataclips.proxy.on("change", _.debounce(function(model){
      // model.toJSON must contain only JS primitives (not functions)
      try { window.parent.postMessage(model.toJSON(), "*") } catch(err) {
        debugger
      }
    }));
    Dataclips.run();
  });
</script>

<div id="grid"></div>

<div id="counters">
 <span class="grid_entries_count">0</span> / <span class="total_entries_count">0</span>
</div>

<% if @sidebar %>
  <%= render "sidebar" %>
  <%= render "download_modal" %>
<% end %>

<canvas id="progress" width="240" height="240"></canvas>
<div id="modal"></div>
