<div class="col-md-6">
  <div class='input-group'>
    <select name="<%= key %>" class="form-control boolean">
      <option value="">-- all --</option>
      <option value="1">yes</option>
      <option value="0">no</option>
    </select>
  </div>
</div>
