<div class='input-group'>
  <input type='number' name="<%= key %>_from" step="0.1" class="form-control float" placeholder="<%= key %>_from" />
</div>

<div class='input-group'>
  <input type='number' name="<%= key %>_to" step="0.1" class="form-control float" placeholder="<%= key %>_to" />
</div>
