<div class="col-md-6">
  <div class='input-group'>
    <input type='number' name="<%= key %>_from" step="1" class="form-control integer" placeholder="from" />
  </div>
</div>

<div class="col-md-6">
  <div class='input-group'>
    <input type='number' name="<%= key %>_to" step="1" class="form-control integer" placeholder="to" />
  </div>
</div>
