<div class='input-group'>
  <input type='number' name="<%= key %>_from" step="1" class="form-control integer" placeholder="<%= key %>_from" />
</div>

<div class='input-group'>
  <input type='number' name="<%= key %>_to" step="1" class="form-control integer" placeholder="<%= key %>_to" />
</div>
